.home-panel{
    vertical-align: top; 
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-bottom: 15;
}

.list-group-item .messageCard {
    color:black;
    background-color: rgb(255, 98, 98);
    border-top-color: rgb(168, 168, 168);
  border-right-color: rgb(168, 168, 168);
  border-bottom-color: rgb(168, 168, 168);
  border-left-color: rgb(168, 168, 168);
  border-radius: 0 20 20 20;
  padding: 10 10 10 10;
    /* padding-top: 5px;   
    padding-bottom: 5px;    */
    margin-top:5px;
}